PORT=5000
CORS_ORIGIN_ADMIN=http://localhost:8080
CORS_ORIGIN_USER=http://localhost:8081
DATABASE_URL=postgres://postgres@localhost:5432/hardware_store
DB_PASSWORD=postgres
CORS_ORIGINS=http://localhost:8081
ALLOW_LOCALHOST_CORS=true
UPLOAD_DIR=uploads
